body {
    background-image: url(https://i.pinimg.com/564x/fb/c8/d3/fbc8d34f74d295fea7119062112d196f.jpg);
    font-family: Arial, sans-serif;
    background-color: #f3e6e6;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #00e6e6;
    text-align: center;
    background-color: #000;
    border-radius: 15px;
    padding: 10px;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

h6 {
    color: #7b1818;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    max-width: 720px;
    margin: 10px auto;
    background-color: #000;
    border-radius: 8px;
    padding: 15px;
    font-size: 28px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 4px #00e6e6, 0 0 6px #00e6e6, 0 0 8px #00e6e6, 0 0 12px #00e6e6;
  }
  
  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    box-shadow: 0 0 4px #00e6e6, 0 0 6px #00e6e6, 0 0 8px #00e6e6, 0 0 12px #00e6e6;
    pointer-events: none;
    z-index: -1;
  }
  

.boton {
    display: inline-block;
    padding: 7px 20px;
    background-color: #f15252;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.9s ease-in-out;
}

.boton:hover {
    background-color: #c4269f;
    padding: 10px 20px;
}

/* Styles for the forms */
   
  input {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #00e6e6;
    background-color: #000;
    color: #00e6e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  input:focus {
    outline: none;
    border-color: #051c33;
    box-shadow: 0 2px 8px rgba(5, 28, 51, 0.3);
  }

  #resp,
  #resultado,
  #Salida {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
    color: #00e6e6;
    font-weight: 900;
    background-color: #051c33;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(12, 2, 2, 0.5);
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

.container {
    position: relative;
    display: grid;
    justify-content: center;
    width: 100%;
    gap: 40px;
}

.botones {
    display: flex;
    gap: 10px;
}

.boton {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #00e6e6;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
}

.boton-regresar {
    margin-top: 10px;
}

.boton:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #00BFFF;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
}

.boton:hover {
    background-color: #00FFFF;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
}

.boton:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
}

.boton:active {
    transform: scale(0.9);
}
